<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar slot="start">
      <img src="../../../assets/profile.png" />
    </ion-avatar>
    <ion-card-header>
      <ion-card-title>María Jimena</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-icon class="list" name="folder" slot="start"></ion-icon>
      <ion-label>Cuentas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon class="list" name="settings" slot="start"></ion-icon>
      <ion-label>Configuraciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon class="list" name="download" slot="start"></ion-icon>
      <ion-label>Descargar data</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon class="list" name="log-out" slot="start"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="time">
      <ion-icon name="time"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
