ion-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ion-avatar {
  margin: 0 auto;
}

ion-card-title {
  margin-top: 10px;
}

ion-list {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

ion-item {
  padding: 30px;
  --padding-start: 20px;
  --inner-padding-end: 20px;
}

ion-icon.list {
  border-radius: 10px;
  color: rgb(23, 112, 245);
  font-size: 25px;
  padding: 8px;
  background-color: rgb(216, 194, 148);
}

ion-footer {
  --background: #f8f8f8;
}
