.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

ion-card {
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

ion-card-header {
  background-color: #f8f8f8;
  text-align: center;
}

ion-card-title {
  font-size: 1.5rem;
  color: #333;
}

ion-item {
  margin-bottom: 20px;
}

ion-label {
  font-size: 1rem;
  color: #555;
}

ion-input {
  font-size: 1rem;
}

ion-checkbox {
  margin-top: 8px;
}

.register-button {
  background-color: #3a8dff;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
}

.google-button {
  background-color: white;
  color: #3a8dff;
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #3a8dff;
}

.google-button ion-icon {
  margin-right: 10px;
}

ion-text p {
  font-size: 1rem;
  text-align: center;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.divider span {
  background-color: white;
  padding: 0 10px;
  color: #666;
  font-weight: bold;
}

@media (min-width: 768px) {
  .register-container {
    padding: 40px;
  }

  ion-card {
    max-width: 600px;
  }

  ion-card-header {
    text-align: center;
    font-size: 1.8rem;
  }

  ion-card-title {
    font-size: 1.8rem;
    color: #333;
  }

  ion-button {
    font-size: 1rem;
  }

  .google-button {
    margin-top: 10px;
  }
}
